@model Playlist.Models.Album.AlbumDetail

@{
    ViewBag.Title = "Delete Album";
}

<h2 style="color: #77CC66">Delete Album</h2>

<h3 style="color: floralwhite">Are you sure you want to delete this album?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt style="color: #77CC66">
            @Html.DisplayNameFor(model => model.AlbumName)
        </dt>

        <dd style="color: floralwhite">
            @Html.DisplayFor(model => model.AlbumName)
        </dd>

        <dt style="color: #77CC66">
            @Html.DisplayNameFor(model => model.AlbumArt)
        </dt>

        <dd style="color: floralwhite">
            @Html.DisplayFor(model => model.AlbumArt)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="font-size: 18px;">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
