@model Playlist.Models.Album.AlbumDetail

@{
    ViewBag.Title = "Details";
}

<h2 style="color: #77CC66">Album Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.HiddenFor(model => model.AlbumID)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.AlbumID)
        </dd>

        <dt style="color: #77CC66">
            @Html.DisplayNameFor(model => model.AlbumName)
        </dt>

        <dd style="color: floralwhite">
            @Html.DisplayFor(model => model.AlbumName)
        </dd>

        <dt style="color: #77CC66">
            @Html.DisplayNameFor(model => model.AlbumArt)
        </dt>

        <dd style="color: floralwhite">
            @Html.DisplayFor(model => model.AlbumArt)
        </dd>

    </dl>
</div>
<p style="font-size: 18px;">
    @Html.ActionLink("Edit", "Edit", new {id = Model.AlbumID}) |
    @Html.ActionLink("Back to List", "Index")
</p>
