@model Playlist.Models.Album.AlbumDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AlbumDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AlbumID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlbumArt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlbumArt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.AlbumID}) |
    @Html.ActionLink("Back to List", "Index")
</p>
