@model IEnumerable<Playlist.Models.Album.AlbumListItem>

@{
    ViewBag.Title = "Albums";
}

<h2 style="color: whitesmoke">Albums</h2>

<p style="font-size: 18px;">
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.AlbumName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlbumArt)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.AlbumName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlbumArt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AlbumID }) |
                @Html.ActionLink("Details", "Details", new { id = item.AlbumID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AlbumID })
            </td>
        </tr>
    }
</table>
